html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

img {
    height: auto;
    width: auto;
    max-width: 500px;
}

a {
    background-color: transparent;
}


th {
    text-align: inherit;
    text-align: -webkit-match-parent;

}

a {
    font-weight: 300;
    text-decoration: none;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #f56d8f;
    border-radius: 4px;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #282c34;
    color: #abb2bf;
    font-family: monospace, monospace;
    font-size: 1em;
    line-height: 1.5em;
}


td {
    border-color: rgba(255, 255, 255, 0.1);
    padding: 12px 7px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7) !important;
    display: table-cell;
}

table {
    caption-side: bottom;
    border-collapse: collapse;

}

.table {
    --bs-table-color: #7b809a;
    --bs-table-bg: transparent;
    --bs-table-border-color: #f0f2f5;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #7b809a;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #7b809a;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #7b809a;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.table-striped-columns> :not(caption)>tr> :nth-child(even) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

ul,
li {
    list-style: none;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    height: auto;
    border: 0;
    resize: none;
}

textarea:focus {
    outline: none;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

body {
    font: 14px / 1.5 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Hiragino Sans GB W3, Microsoft YaHei UI, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[data-flex] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

[data-flex]>* {
    display: block;
}

[data-flex~="dir:top"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

[data-flex~="main:left"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

[data-flex~="main:justify"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[data-flex~="main:center"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

[data-flex~="cross:center"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

input {
    /* text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border: none;
    text-indent: 0;
    background: transparent;
    resize: none;
    outline: none;
    -webkit-appearance: none;
    line-height: normal; */
}

.input:focus {
    /* outline: none;
    border-color: none */
}

html {
    --zhuluan-white-color: #fff;
    --zhuluan-black-2-color: #353333;
    --zhuluan-black-3-color: #333;
    --zhuluan-black-6-color: #666;
    --zhuluan-black-80-color: #808080;
    --zhuluan-custom-e8-color: #e8e8e8;
    --zhuluan-custom-d8-color: #d8d8d8;
    --zhuluan-custom-b8-color: #b8b8b8;
    --zhuluan-custom-ff-color: #f5f6f7;
    --zhuluan-white-f2-color: #f2f2f2;
    --zhuluan-white-f5-color: #f5f5f5;
    --zhuluan-primary-color: #1781ea;
    --zhuluan-neighbor-color: #5A9AF9;
    --zhuluan-primary-color-hover: #3385ff;
    --zhuluan-primary-color-active: #096dd9;
    --zhuluan-primary-rgba-10: rgba(31, 130, 242, .08);
    --zhuluan-primary-rgba-20: rgba(31, 130, 242, .2);
    --zhuluan-border-color: #e2e2e2;
    --zhuluan-border-rgba-4: rgba(225, 225, 225, .4);
    --zhuluan-warning-color: #FD6A53;
    --zhuluan-warning-rgba-10: rgba(253, 106, 83, .08);
    --zhuluan-warning-rgba-20: rgba(253, 106, 83, .2);
    --zhuluan-shadow-color: 51 133 255;
    --zhuluan-switch-size: 15px;
    --zhuluan-switch-box: 30px;
    --zhuluan-primary-border-radius: 5px;

    --zhuluan-dark-color: #202123;

    --zhuluan-shadow: 50px 50px 100px 10px rgba(0, 0, 0, .1)
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype');
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.input-group-keep {
    justify-content: flex-start;
}

.input-group-preset {
    justify-content: flex-end;
}

.preset-select {
    overflow-y: scroll;
    width: calc(100% - 90px);
    max-width: 200px;
    border-radius: 5px;
    height: 25px;
    margin-left: 10px;
}

.preset-select::-webkit-scrollbar {
    width: 3px;
}

.preset-select::-webkit-scrollbar-track {
    background-color: #e6e1e1;
}

.preset-select::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.preset-select::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wuguan:before {
    content: "\ec5f";
}

.switch:checked~label:after {
    opacity: 1;
}

.switch:checked~label:before {
    opacity: 0;
}

.switch:checked~label {
    background-color: var(--zhuluan-primary-color);
}

a.unlinks-deco {
    color: var(--zhuluan-primary-color);
    text-decoration: none;
}

.layout-header {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header-logo {
    min-width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    color: white;
}

.layout-header h2 {
    font-size: 1.2em;
}

@media (min-width:700px) {
    .layout-header {
        height: 50px !important;
    }

    .layout-header h2 {
        font-size: 1.5em;
    }
}

.article-box .links:hover {
    color: var(--zhuluan-primary-color)
}

.layout-header .nav .btn {
    padding: 6px 12px;
    margin: 0 0 0 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: var(--zhuluan-primary-border-radius);
    color: var(--zhuluan-black-3-color);
    background-color: var(--zhuluan-white-f2-color);
    transition: all .4s;
}

.layout-header .nav .btn:hover {
    opacity: .8;
    box-shadow: none
}

.layout-content {
    padding: 22px 0 50px;
}

.layout-bar {
    font-size: 14px;
    color: var(--zhuluan-black-80-color);
}

.layout-bar .btn {
    width: 100px;
    margin-left: 14px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-radius: var(--zhuluan-primary-border-radius);
    color: var(--zhuluan-primary-color);
    cursor: pointer;
    transition: all .4s;
}

.layout-bar .btn .iconfont {
    margin-right: 3px;
}

.article-box-header {
    border-radius: var(--zhuluan-primary-border-radius);
    border-color: #353333;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.precast-block {
    height: auto;
    padding: 5px 12px;
    min-height: 50px;
    border-radius: var(--zhuluan-primary-border-radius);
    bottom: 20px;
}

.precast-block .title {
    width: 65px;
    text-indent: 10px;
    color: var(--zhuluan-black-80-color);
}

.precast-block .box {
    flex: 1
}

.precast-block {
    border-radius: var(--zhuluan-primary-border-radius) var(--zhuluan-primary-border-radius) var(--zhuluan-primary-border-radius) var(--zhuluan-primary-border-radius);
}

.precast-block #kw-target {
    display: block;
    width: 100%;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: transparent;
    height: auto;
}

#kw-target::-webkit-input-placeholder {
    color: var(--zhuluan-custom-b8-color)
}

.layout-bar .bright-btn:hover {
    background-color: var(--zhuluan-neighbor-color);
    box-shadow: none;
    opacity: .8
}

.article {
    flex: 5;
    margin: 10px 10px 0px 0px;
}

.article .creating-loading {
    display: none;
    position: absolute;
    z-index: 10008;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(52, 53, 65, .68)
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    width: calc(100% - 40px);
    display: flex;
}

@media (max-width:480px) {
    .container {
        width: 99%;
    }
}


@media (max-width:992px) {
    .layout-header {
        position: relative;
    }

    .layout-header .logo .links img {
        width: auto
    }

    .layout-header .nav .btn {
        margin: 0 14px 0 0
    }

    .layout-content {
        padding: 18px 0 32px
    }

    .article .creating-loading {
        bottom: 50%;
    }

    .layout-content .article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .article .layout-article {
        width: 100%;
        margin-bottom: 12px
    }

    .article-box {
        margin: 0 -10px;
    }
}

.codebutton {
    float: right;
    width: 50px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    border-radius: var(--zhuluan-primary-border-radius);
    cursor: pointer;
    transition: all .4s;
    color: var(--zhuluan-black-3-color);
    background: linear-gradient(90deg, var(--zhuluan-custom-e8-color), var(--zhuluan-custom-d8-color));
    border: none;
}

#login-wx {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(255, 250, 250, 0);
    z-index: 10000;
    display: none;
}

#user-id {
    color: white;
    font-size: small;
}

.sidebar {
    position: fixed;
    top: 19%;
    right: 0;
    width: 38px;
    background-color: transparent;
}

.sidebar .icon {
    display: block;
    margin-bottom: 30px;
    width: 24px;
    height: 24px;
    fill: #333;
    cursor: pointer;
}

.sidebar #theme-switcher-light {
    display: block;
}

.sidebar #theme-switcher-dark {
    display: none;
}

.wechat-popup {
    position: fixed;
    right: 42px;
    top: 35%;
    border-radius: 8px 0px 0px 8px;
    width: 200px;
    height: 200px;
    border: none;
    display: none;
}

.header-about {
    text-decoration: none;
    font-size: x-small;
}

.header-about .links {
    color: rgb(236, 230, 230);
    text-decoration: none;
    font-size: x-small;
}

.talk-history {
    flex: 1;
    margin: 10px 10px 0px 0px;
    /* padding-top: 10px; */
    overflow-y: auto;
    box-shadow: var(--zhuluan-shadow);
}

@media (max-width:480px) {
    .talk-history {
        display: none;
    }
}

@media (min-width:480px) {
    .talk-history {
        min-width: 250px;
    }
}

.talk-history-content {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    border: 1px solid;
    border-radius: var(--zhuluan-primary-border-radius);
    border-color: #353333;
}


.talk-history-content::-webkit-scrollbar {
    width: 3px;
}

.talk-history-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(180, 176, 176);
}

.talk-history-item {
    margin: 10px 15px 10px 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    /* 这两个属性都可以居中 */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.talk-history-item-selected {
    border: 3px solid;
    border-color: #e49d57;
}

.talk-history-time {
    display: flex;
    font-size: 10px;
    align-items: right;
    color: darkgray;
    justify-content: space-between;
    margin-top: 5px;
}

.talk-new {
    display: flex;
    color: white;
    margin: 10px 15px 10px 15px;
    border-radius: 10px;
    height: 50px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.talk-new span {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
}

#article-wrapper {
    height: calc(100vh - 160px);
    overflow-y: auto;
    border-radius: var(--zhuluan-primary-border-radius);
    box-shadow: var(--zhuluan-shadow);
}

#article-wrapper::-webkit-scrollbar {
    width: 3px;
}

#article-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(180, 176, 176);
}

.article-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#fixed-block {
    bottom: 20px;
    border-radius: 5px;
}


li.article-title {
    background: #343541;
    padding: 14px;
    color: #fff;
    font-size: 15px;
}

li.article-content {
    padding: 14px;
    font-size: 15px;
    line-height: 30px;
}

li.article-content img {
    width: 100%;
}

.article .creating-loading {
    display: none;
    position: absolute;
    z-index: 10008;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(52, 53, 65, .68);
    width: 100%;
    height: 100%;
}

.layout-content {
    padding: 0 !important;
}

pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

input {
    display: none;
}

.article-box-header label {
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: rgb(164, 165, 179);
    /* border: 1px solid #A4A5B3; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

label::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}

label::after {
    display: block;
    content: '';
    width: 0;
    height: 100%;
    background: var(--zhuluan-dark-color);
    transition: all .3s;
    border-radius: 10px;
}

input:checked+label::before {
    left: 20px;
}

input:checked+label::after {
    width: 100%;
    background-color: #dddfe2;
}

.about-layer {
    padding: 20px;
    height: 100%;
    background-color: gray;
    color: white;
}

.setting-container {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    z-index: 10000;
    color: black;
    display: none;

    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.setting-container h1 {
    text-align: center;
    margin-top: 0;
}

.setting-container .setting-form-group {
    margin: 10px;
    display: flex;
    align-items: center;
}

.setting-container .setting-form-group .config-title {
    display: block;
    margin-top: 3px;
    margin-left: 20px;
    flex: 1;
}

.setting-container .setting-form-group input[type="text"],
.setting-container .setting-form-group select {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 20px;
    flex: 3;
}

.setting-container hr {
    margin-left: 20px;
    margin-right: 20px;
}

.setting-container .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: -15px;
    flex: 3;
}

.setting-container .checkbox-group label {
    margin-right: 10px;
}