.layout-content {
    background-color: var(--zhuluan-dark-color);
}

.layout-header {
    background: var(--zhuluan-dark-color);
}

.logo-title {
    color: white;
}

#user-id {
    color: white;
}

.logo-about {
    color: gray;
}

.logo-about .links {
    color: rgb(236, 230, 230);
}

.preset-select {
    background-color: var(--zhuluan-dark-color);
    color: darkgray;
    border-color: #353333;
}

.precast-block {
    border-color: var(--zhuluan-dark-color);
}

#fixed-block {
    background-color: #40414F;
}

#article-wrapper {
    border-color: #353333;
}

li.article-title {
    background: #343541;
    color: #fff;
}

li.article-content {
    background: #434654;
    color: #fff;
}
#kw-target-box #kw-target {
    color: #fff;
}

.layout-bar .bright-btn {
    color: var(--zhuluan-white-color);
    box-shadow: 0 4px 8px 0 var(--zhuluan-shadow-color);
}