body {
    background-color: var(--zhuluan-dark-color)
}

.layout-content {
    background-color: var(--zhuluan-dark-color);
}

.layout-header {
    background: var(--zhuluan-dark-color);
}

.header-logo { 
    color: white;
}
 
#user-id {
    color: white;
}

.header-about {
    color: gray;
}

.header-about .links {
    color: rgb(236, 230, 230);
}

.preset-select {
    background-color: var(--zhuluan-dark-color);
    color: darkgray;
    border-color: #353333;
}

.precast-block {
    border: 1px solid;
    border-color: var(--zhuluan-dark-color);
    background-color: #40414F;
}

#article-wrapper {
    border: 1px solid;
    border-color: #353333;
}

li.article-title {
    background: #343541;
    color: #fff;
}

li.article-content {
    background: #434654;
    color: #fff;
}

.precast-block #kw-target {
    color: #fff;
}

.layout-bar .bright-btn {
    color: var(--zhuluan-white-color);
    box-shadow: 0 4px 8px 0 var(--zhuluan-shadow-color);
}

.article-box-header {
    border: 1px solid;
    border-color: #353333;
}

.talk-history {
    color: white;
}

.talk-history-content {
    border-color: #353333;
}

input:checked+label::after {
    background-color: rgb(93, 92, 89);
}

.talk-history-item {
    color: white;
    background-color: #4c4949;
}

.talk-new {
    color: white;
    background-color: #2a2a2a;
}

.layui-layer {
    background-color: #fff;
    box-shadow: 1px 1px 50px rgb(218 206 206 / 30%);
}
.aboutAi {
    color: white; 
}