body {
    background-color: #3c80d3;
}

.logo-title {
    color: black;
}

#user-id {
    color: black;
}

.logo-about {
    color: darkgray;
}

.logo-about .links {
    color: black;
}

.preset-select {
    background-color: #75b6b8;
    border: none;
}

.precast-block {
    border: none;
    background-color: #75b6b8;
}

#article-wrapper {
    border: none;
    background-color: #75b6b8;
}

li.article-title {
    background: #c9cad2;
    color: #1c2127;
}

li.article-content {
    /* background: #d8d8dc; */
    color: #1c2127;
}

.precast-block #kw-target {
    color: black;
}

.layout-bar .bright-btn {
    color: var(--zhuluan-black-3-color);
    box-shadow: 0 4px 8px 0 var(--zhuluan-shadow-color);
}

.article-box-header {
    border: none;
    background-color: #75b6b8;
}

.talk-history {
    border: none;
    color: black;
    background-color: #df941b;
}

input:checked+label::after {
    background-color: #dddfe2;
}

.talk-history-item {
    color: black;
    background-color: #e0d4d4;
}

.talk-new {
    color: black;
    background-color: #e0d4d4;
}

.layui-layer {
    background-color: #fff;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}

.article {
    color: greenyellow;
}